---
layout: index
title: Components
group: navigation
tagline: A sample page for landing pages and apps, try yourself!
tags : [components]
img : 
img-mobile : 
author : Antonio Trento
css: 
js:
keywords: components, demo
permalink: /components/
canonical: https://heliumjk.github.io
nav: true
nav_order: 0
environment: development
---
{% include JB/setup %}

<div class="tbtn wow pulse" id="menu" data-wow-iteration="infinite" data-wow-duration="500ms" data-toggle="offcanvas" data-target=".navmenu">
      <p><i class="fa fa-file-text-o"></i>All Components</p>
    </div>
  </div>

  <!-- Content Start -->
  <div id="grid-continer" style="
    margin: 45px 0;">
    <div class="container">
      <div class="row">
        {% for component_page in site.components %}
        {% assign file_name = component_page.path | split: '/' | last | split: '.' | first %}
          <div class="col-md-4">
            <div class="demo_img">
              <a href="{{ component_page.url }}" target="_blank">
                <img src="/assets/images/screenshot/{{ file_name }}.jpg" alt="{{component_page.title}} component image">
                <h3 class="demo-title">{{ component_page.title }}</h3>
              </a>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
  <!-- Content End -->
